* {
    box-sizing: border-box;
}


body {
 font-family: "Roboto", sans-serif;
 margin: 0;
 padding: 0;
}
 
.logo > img {
 width: 50px;
}
 
header {
 display: flex;
 flex-direction: column;
 align-items: center;
 justify-content: space-evenly;
 margin-bottom: 0px;
}
 
.hamburger {
 color:white;
 display: flex;
 justify-content: flex-end;
}
 
.menu {
 display: none;
}
 
.navbar {
 margin-left: 10px;
 background-color: gray;
}
 
main {
 padding: 5px;
 display: flex;
 flex-direction: column;
}
 
.product {
 border:solid;
 border-width: 1px;
 border-color: gray;
 text-align: center;
}
 
.social {
 display: flex;
 flex-direction: row;
 justify-content: space-around;
}
 
ul{
 list-style: none;
}
 
/*
Tablets, Ipads(portrait)
768 px - 1024px
*/
 
@media (min-width:768px) and (max-width: 1024px) {
 
header {
 display: flex;
 flex-direction: row;
 align-items: center;
 justify-content: space-evenly;
 margin-bottom: 0px;
}

.product{
    border-radius: 15px;
    margin: 4px;
    border-color: rgb(214, 207, 207);
}
 
 
 }

 @media (min-width: 1025px) {



    header {
        display: flex;
        flex-direction: row;
        align-items: center ;
        margin-right:500px;
        margin-bottom: -20px;
       }

    main {
        display: flex;
        flex-direction: row;
    }


    .product{
        margin-left: 5px;
        margin-right: 5px;
        flex-basis: 100%;

        border-radius: 15px;
        margin: 4px;
        border-color: rgb(214, 207, 207);
    }
    .menu {
        display: contents;
        display: flex;
        color: white;
        flex-direction: row;
        justify-content: flex-end;
    }

    nav {
        justify-content: space-evenly;
        height: 50px;
    }

    .hamburger {
        display: none;
    }

    .logo {
        margin-right: 7%;
    }

    li {
        margin-right: 40px;
        margin-top: 13px;
    }

    .social {
        display: flex;
        justify-content: space-around;
    }

 }